.news-card {
  border-radius: 1rem;
  height: 28rem;
  max-width: 22rem;

  box-shadow: $block-shadow;

  &:hover:not(.skeleton) {
    cursor: pointer;
  }

  @include mobile-media() {
    max-width: 30rem;
  }

  &__img img {
    width: 100%;
    object-fit: cover;

    border-radius: 1rem 1rem 0 0;
  }

  &__main-data {
    padding: 2rem;

    &__date {
      font-size: 12px;
      font-weight: normal;

      color: $text2-color;
      margin: 0 0 1rem;
      padding: 0;
    }
  }

  &.skeleton {
    @include loadingAnimation();
  }
}

.news-card-anchor {
  @include reset-anchor();
}
