.news-list {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2.5rem;

  justify-content: center;

  @include table-media() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-media() {
    grid-template-columns: 1fr;
  }
}
