* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg1-color;
  padding: $header-height 0 4.25rem;
}

.main-content {
  max-width: 1148px;

  margin: 2.25rem auto;
  padding: 0 2rem;

  @include table-media() {
    &:not(header *) {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
