@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

@mixin reset-anchor() {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@mixin table-media() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mobile-media() {
  @media (max-width: 800px) {
    @content;
  }
}
